"""
Bot Author: <<.Author>>

<<.BotName>>
<<.BotDescription>>
"""

import discord
from discord import app_commands
from discord.ext import commands
from dotenv import load_dotenv
import os

load_dotenv()

GUILD_ID = int(os.getenv("DISCORD_GUILD", 0))
GUILD = discord.Object(id=GUILD_ID)

class <<.ClassName>>(commands.Cog, name="<<.ClassName>>"):
    def __init__(self, bot) -> None:
        self.bot = bot
        print("<<.Filename>> cog loaded")
<<range .SlashCommands>>
    @app_commands.command(name="<<.Name>>", description="<<.Description>>")<<if .Args>>
    @app_commands.describe(<<range .Args>>
        <<.Name>>="<<.Description>>",<<end>>
    )<<end>><<if eq .Scope "guild">>
    @app_commands.guilds(GUILD)<<end>>
    async def <<underscore .Name>>(self, interaction: discord.Interaction, <<argString .Args>>) -> <<.ReturnType>>:
        """
        <<.Description>> when the user types "/<<.Name>>"

            Parameters:<<range .Args>>
                    <<.Name>> (<<.Type>>): <<.Description>><<end>>

            Returns:
                    <<.ReturnType>>
        """

        try:
            await interaction.response.send_message(f"<<.Name>>", ephemeral=True)
        except Exception as e:
            print(f"Error: {e}")
            await interaction.response.send_message(f"Error: {e}", ephemeral=True)

        return <<returnValue .ReturnType>>
<<end>><<range .PrefixCommands>>
    @commands.command()
    async def <<.Name>>(self, ctx: commands.Context, <<argString .Args>>) -> <<.ReturnType>>:
        """
        <<.Description>> when the user types "/<<.Name>>"

            Parameters:
<<range .Args>>
                    <<.Name>> (<<.Type>>): <<.Description>><<end>>

            Returns:
                    <<.ReturnType>>
        """

        try:
            await ctx.send(f"<<.Name>>", ephemeral=True)
        except Exception as e:
            print(f"Error: {e}")
            await ctx.send(f"Error: {e}", ephemeral=True)

        return <<returnValue .ReturnType>>
<<end>>

async def setup(bot):
    await bot.add_cog(<<.ClassName>>(bot))

"""
File generated by BotBox - https://github.com/choice404/botbox
"""